@font-face {
  font-family: 'Karla';
  src: url('./assets/fonts/Karla-VariableFont_wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('./assets/fonts/Karla-Italic-VariableFont_wght.ttf');
  font-style: italic;
}

:root {
  --clr-grey-900: rgb(42, 65, 68);
  --clr-grey-500: rgb(134, 162, 165);
  --clr-white: rgb(255, 255, 255);
  --clr-green-600: rgb(12, 125, 105);
  --clr-green-200: rgb(224, 241, 232);
  --clr-red: rgb(215, 60, 60);

  --spacing-1600: 128px;
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;

  --radius-sm: 8pt;
  --radius-md: 12pt;
  --radius-lg: 16pt;

  font-size: 18px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;

  min-height: 100vh;

  font-family: 'Karla', sans-serif;
}

/*** Text ***/

.text-heading {
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1px;
}

.body-md,
.body-sm {
  line-height: 150%;
  letter-spacing: 0px;
}

.body-sm {
  font-size: 16px;
}

.text-bold {
  font-weight: 700;
}

/*** Form ***/
form.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: var(--spacing-100);

  width: 100%;
}

.text-input-name {
  grid-column: 1fr;
  display: flex;
  flex-direction: column;
}

.text-input-name > {
  width: 100%;
}

.text-input-email {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
}

.text-input-email > input {
  width: 100%;
}

fieldset.query-type-fieldset {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-100);

  margin: 0;
  padding: 0;

  border: none;
}

.radio-wrapper {
  border: 1px solid;
  padding: var(--spacing-100);
}

/* fieldset.query-type-fieldset > legend {
  margin-bottom: var(--spacing-100);
} */

.message-wrapper {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
}

.consent-check-wrapper {
  grid-column: span 2;
}

#btn-contact-form-submit {
  grid-column: span 2;
}
