@font-face {
  font-family: 'Karla';
  src: url('./assets/fonts/Karla-VariableFont_wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('./assets/fonts/Karla-Italic-VariableFont_wght.ttf');
  font-style: italic;
}

:root {
  --clr-grey-900: rgb(42, 65, 68);
  --clr-grey-500: rgb(134, 162, 165);
  --clr-white: rgb(255, 255, 255);
  --clr-green-600: rgb(12, 125, 105);
  --clr-green-200: rgb(224, 241, 232);
  --clr-red: rgb(215, 60, 60);

  font-size: 18px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;

  min-height: 100vh;

  font-family: 'Karla', sans-serif;
}
